<div class="puppy-list">
  <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
</div>

<!--
above is same as below, where this = puppies.id
<a href="/puppies/{{this.id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
-->
