<form class="form" action="/puppies/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="breed" class="form-item">
    Breed:
    <input type="text" name="breed" value="{{breed}}">
  </label>
  
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" value="{{owner}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>